{% load bootstrap3 %}
{% load static%}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>About</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
     {% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'scss/main.css' %}">
    <link rel="stylesheet" href="{% static 'scss/skin.css' %}">
    {% endblock %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="/static/js/index.js"></script>


</head>

<body id="wrapper">

    <section id="top-header">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12 top-header-links">
                    <ul class="contact_links">
                        <li><i class="fa fa-phone"></i><a href="#">+250 787038040</a></li>
                        <li><i class="fa fa-envelope"></i><a href="#">staff@akikahive.com</a></li>
                    </ul>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <ul class="social_links">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        <li><a href="#"><i class="fa fa-skype"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        </div>

    </section>

    <header>
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			  </button>
                    <a class="navbar-brand" href="#">
                        <h1>Aspire</h1><span>Software Solutions</span></a>
                </div>
                <div id="navbar" class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="{% url 'index' %}">Home</a></li>
                        <li><a href="{% url 'services' %}">Services</a></li>
                        <li><a href="{% url 'about' %}">About</a></li>
                        <li><a href="{% url 'news' %}">News</a></li>
                        <li><a href="{% url 'faq' %}">FAQ</a></li>
                        <li><a href="{% url 'contact' %}">Contact</a></li>
                        <li class="dropdown">
                                <a href="#" class="dropbtn">Apply</a>
                                <div class="dropdown-content">
                                  <a href="#">Students/Freelancers</a>
                                  <a href="#">Business enterprises</a>
                                  <a href="#">Academics/IT Schools</a>
                                  <a href="#">Governments</a>
                                </div>
                              </li>

<style>

.dropdown {
display:inline-block;
}

.dropdown-content {
background: #f9f9f9;
min-width: 160px;
position: absolute;
display: none;
box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
z-index: 1;
}

.dropdown-content a {
color: black; 
padding: 5px 8px;
text-decoration: none;
display: block;
text-align:left;
}

.dropdown-content a:hover {
background: darkgoldenrod;
color:white;

}

.dropdown:hover .dropdown-content {
display: block;
}



</style>

                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </nav>
        <!--/.nav-ends -->
    </header>
    <section id="top_banner" style="background-image: url(/media/back.jpeg);height: 200px;width: 1200px; background-repeat:no-repeat;">
        <div class="banner">
            <div class="inner text-center">
                <h2 style="color: black;">Akika BeeHive online platform</h2>
            </div>
        </div>
        <div class="page_info">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-8 col-xs-6">
                        <h4>About</h4>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-6" style="text-align:right;">Home<span class="sep"> 	/ </span><span class="current"> About</span></div>
                </div>
            </div>
        </div>

        </div>
    </section>


    <section id="about-page-section-3">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-7 text-align">
                    <div class="section-heading">
                        <h2>About <span>Us</span></h2>
                        <p class="subheading">We are committed to looking to the future, anticipating trends and reacting accordingly!</p>
                    </div>
                    <p>
                        We are a dynamic and vibrant community
that house a variety of IT business projects
supported by professional office team
and excellent facilities. AKIKA Beehive is
an innovation platform that connect
various entities and technology in order to
look for digital solutions to current
business, government and social changes.
Placing Rwanda to the global ICT map ca
n only e fulfilled if the economic activity in
ICT sector can be increased through
software export activities. Rwanda can
neither be isolated from the information
revolution that is happening in the World
nor it can avoid the avenues obtained fro
m new technologies to earn foreign
currencies for the development of the
country infrastructure.

                        <br><br> Accelerate
                        job creation and
                        entrepreneurship, and create
                        long-term, regional economic impact
                        by offering clients access to a broad
                        network of specialized resources. This is
                        accomplished through efficient,
                        personalized growth strategies that
                        streamline the entrepreneur’s path to
                        
                        success.

                    </p>
                    <button type="button" class="btn btn-primary slide">Learn More <i class="fa fa-caret-right"></i></button>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-5">
                    <img height="" width="auto" src="/media/iphone62.png" class="attachment-full img-responsive" alt="">
                </div>
            </div>
        </div>
    </section>



    <section id="skills">
        <div class="titlebar">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 xol-md-12 col-sm-12 col-xs-12">
                        <div class="section-heading text-center">
                            <h2>Our <span>Skills</span></h2>
                            <p class="subheading">Akika-BeeHive provide the required skills through this percentage that is describe below in the defferent categories </p>
                        </div>



                        <div class="row">
                            <div class="col-md-3 col-sm-6 col-xs-6 block mybox">
                                <div class="progress color progress-bar-1">
                                    <span class="progress-left">
                    <span class="progress-bar"></span>
                                    </span>
                                    <span class="progress-right">
                    <span class="progress-bar"></span>
                                    </span>
                                    <div class="progress-value">90%</div>

                                </div>
                                <div class="progress-title">
                                    <h5>Students/Freelarance</h5>
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-6 col-xs-6 block mybox">
                                <div class="progress color progress-bar-2">
                                    <span class="progress-left">
                    <span class="progress-bar"></span>
                                    </span>
                                    <span class="progress-right">
                    <span class="progress-bar"></span>
                                    </span>
                                    <div class="progress-value">75%</div>
                                </div>
                                <div class="progress-title">
                                    <h5>Enterprise/Business</h5>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-6 block mybox">
                                <div class="progress color progress-bar-3">
                                    <span class="progress-left">
                    <span class="progress-bar"></span>
                                    </span>
                                    <span class="progress-right">
                    <span class="progress-bar"></span>
                                    </span>
                                    <div class="progress-value">60%</div>
                                </div>
                                <div class="progress-title">
                                    <h5>Governments</h5>
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-6 col-xs-6 block mybox">
                                <div class="progress color progress-bar-4">
                                    <span class="progress-left">
                    <span class="progress-bar"></span>
                                    </span>
                                    <span class="progress-right">
                    <span class="progress-bar"></span>
                                    </span>
                                    <div class="progress-value">80%</div>
                                </div>
                                <div class="progress-title">
                                    <h5>Academics</h5>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
    </section>
    <section id="team-member">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 xol-md-12 col-sm-12 col-xs-12">
                    <div class="section-heading text-center">
                        <h1>Our <span>Team</span></h1>
                        <p class="subheading">We demonstrate leadership by advancing new technologies, innovative and disruptive techniques, enhanced customer service, inspired management, and the application of best practices throughout our organization.</p>
                    </div>
                    <div class="wpb_column vc_column_container col-md-3 col-sm-6 col-xs-6 block mybox">
                        <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                                <div class="our-team main-info-below-image">
                                    <div class="our-team-inner">
                                        <div class="our-team-image">
                                            <img src="/media/chairman.jpg" />
                                            <div class="qodef-circle-animate"></div>
                                            <div class="our-team-position-icon">
                                                <span class="qodef-icon-shortcode circle">
        			<i class="qodef-icon-simple-line-icon qodef-icon-element fa fa-cog"></i>
            </span>
                                            </div>
                                            <h6 class="q_team_position">Chairman</h6>
                                        </div>
                                        <div class="our-team-info">
                                            <div class="our-team-title-holder">
                                                <h5 class="our-team-name">Patrick Ngabonziza</h5>
                                            </div>
                                            <div class='our-team-text-inner'>
                                                <div class='our-team-description'>
                                                    <p>Founder & Chairman of MobiCash Group
                                                        A group of companies that enables fintech, banking and government innovation with the capabilities required to foster them. </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wpb_column vc_column_container col-md-3 col-sm-6 col-xs-6 block mybox">
                        <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                                <div class="our-team main-info-below-image">
                                    <div class="our-team-inner">
                                        <div class="our-team-image">
                                            <img src="/media/sheik.jpg" />
                                            <div class="qodef-circle-animate"></div>
                                            <div class="our-team-position-icon">
                                                <span class="qodef-icon-shortcode circle">
        				<i class="qodef-icon-simple-line-icon fa fa-pencil qodef-icon-element"></i>
    					</span>
                                            </div>
                                            <h6 class="q_team_position">C E O</h6>
                                        </div>
                                        <div class="our-team-info">
                                            <div class="our-team-title-holder">
                                                <h5 class="our-team-name">Sheik Mia</h5>
                                            </div>
                                            <div class='our-team-text-inner'>
                                                <div class='our-team-description'>
                                                    <p>Mr. Mia is currently the Chief Technology Officer for MobiCash Limited. He works with the Executive Management to grow the company through the use of technological resources. </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wpb_column vc_column_container col-md-3 col-sm-6 col-xs-6 block mybox">
                        <div class="vc_column-inner ">
                            <div class="wpb_wrapper">
                                <div class="our-team main-info-below-image">
                                    <div class="our-team-inner">
                                        <div class="our-team-image">
                                            <img src="/media/elvis.jpg" />
                                            <div class="qodef-circle-animate"></div>
                                            <div class="our-team-position-icon">
                                                <span class="qodef-icon-shortcode circle">        
        					<i class="qodef-icon-simple-line-icon fa fa-hashtag qodef-icon-element"></i>
            		</span>
                                            </div>
                                            <h6 class="q_team_position">C T O</h6>
                                        </div>
                                        <div class="our-team-info">
                                            <div class="our-team-title-holder">
                                                <h5 class="our-team-name">Elvis Sedah</h5>
                                            </div>
                                            <div class='our-team-text-inner'>
                                                <div class='our-team-description'>
                                                    <p>Mr. Elvis Felix Sedah is a Kenyan national who serves as a CIO (Chief Information Officer) at MobiCore Rwanda Ltd.  In his role he oversees the ongoing R&D programs that develop new applications, services and extensions for the MobiCash Rwanda platform.  </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wpb_column vc_column_container col-md-3 col-sm-6 col-xs-6 block mybox">
                        <div class="vc_column-inner ">
                            <div class="wpb_wrapper">
                                <div class="our-team main-info-below-image">
                                    <div class="our-team-inner">
                                        <div class="our-team-image">
                                            <img src="/media/gilbert.jpg" />
                                            <div class="qodef-circle-animate"></div>
                                            <div class="our-team-position-icon">
                                                <span class="qodef-icon-shortcode circle ">
						        <i class="qodef-icon-simple-line-icon fa fa-wrench qodef-icon-element" ></i>
			            </span>
                                            </div>
                                            <h6 class="q_team_position">Engineer</h6>
                                        </div>
                                        <div class="our-team-info">
                                            <div class="our-team-title-holder">
                                                <h5 class="our-team-name">Gilbert NIYONGERE</h5>
                                            </div>
                                            <div class='our-team-text-inner'>
                                                <div class='our-team-description'>
                                                    <p>Software engineer and data scientist specialized in mobile and web applications and data analytics. Build tailored software applications and integrated data platforms coupled with analytical tools.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-12 block">
                    <div class="footer-block">
                        <h4>Address</h4>
                        <hr/>
                        <p>Lorem ipsum dolor sit amet sit legimus copiosae instructior ei ut vix denique fierentis ea saperet inimicu ut qui dolor oratio mnesarchum.
                        </p>
                        <a href="#" class="learnmore">Learn More <i class="fa fa-caret-right"></i></a>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-12 block">
                    <div class="footer-block">
                        <h4>Useful Links</h4>
                        <hr/>
                        <ul class="footer-links">
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Features</a></li>
                            <li><a href="#">Portfolio</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Sign In</a></li>
                            <li><a href="#">Sign Up</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-12 block">
                    <div class="footer-block">
                        <h4>Community</h4>
                        <hr/>
                        <ul class="footer-links">
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Forum</a></li>
                            <li><a href="#">Free Goods</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-12 <block></block>">
                    <div class="footer-block">
                        <h4>Recent Posts</h4>
                        <hr/>
                        <ul class="footer-links">
                            <li>
                                <a href="#" class="post">Lorem ipsum dolor sit amet</a>
                                <p class="post-date">May 25, 2017</p>
                            </li>
                            <li>
                                <a href="#" class="post">Lorem ipsum dolor sit amet</a>
                                <p class="post-date">May 25, 2017</p>
                            </li>
                            <li>
                                <a href="#" class="post">Lorem ipsum dolor sit amet</a>
                                <p class="post-date">May 25, 2017</p>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>


    </section>

    <section id="bottom-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12 btm-footer-links">
                    <a href="#">Privacy Policy</a>
                    <a href="#">Terms of Use</a>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 copyright">
                    Developed by <a href="#">Aspire Software Solutions</a> designed by <a href="#">Designing Team</a>
                </div>
            </div>
        </div>
    </section>


    <div id="panel">
        <div id="panel-admin">
            <div class="panel-admin-box">
                <div id="tootlbar_colors">
                    <button class="color" style="background-color:#1abac8;" onclick="mytheme(0)"></button>
                    <button class="color" style="background-color:#ff8a00;" onclick="mytheme(1)"> </button>
                    <button class="color" style="background-color:#b4de50;" onclick="mytheme(2)"> </button>
                    <button class="color" style="background-color:#e54e53;" onclick="mytheme(3)"> </button>
                    <button class="color" style="background-color:#1abc9c;" onclick="mytheme(4)"> </button>
                    <button class="color" style="background-color:#159eee;" onclick="mytheme(5)"> </button>
                </div>
            </div>

        </div>
        <a class="open" href="#"><span><i class="fa fa-gear fa-spin"></i></span></a>
    </div>

    {% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 {% bootstrap_javascript %}
{% endblock %}

</body>

</html>